#!/usr/bin/make -f

# Used to enable documentation if dependencies are available
define cond_enable
	$(shell if test -x /usr/bin/doxygen && test -x /usr/bin/dot \
		&& test -x /usr/bin/pdftex; then echo --enable-documentation; \
		else echo --disable-documentation; fi )
endef

CONFIGURE_OPTIONS ?= $(call cond_enable) \
		     --enable-dri2

%:
	dh $@

override_dh_auto_configure:
	dh_testdir
	./configure --prefix=/usr $(CONFIGURE_OPTIONS)
